.brand {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media screen and (max-width: bp(bp600px)) {
      padding-bottom: 65.333333333%;
    }
  }

.brand__img {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  }

.brand__img_gray {
  z-index: 1;
  opacity: 1;
  transition: opacity .3s;
  }

.brand:hover .brand__img_gray, .brand:focus .brand__img_gray {
  opacity: 0;
  }
