.event {
  padding-left: 46px;
  }
.event__label {
  color: #202427;
  font-family: $font-stack-custom-1;
  font-size: 1.266666667rem;
  }
.event_date {
  background: url(assets/img/i41.png) 0 .2em no-repeat at-2x;
  min-height: 24px;
  }
.event_place {
  background: url(assets/img/i42.png) 0 .2em no-repeat at-2x;
  min-height: 24px;
  }
