
.manual__header {
  margin-bottom: 3px;
  }

.manual__topcontrol {
  margin-top: 14px;
  margin-bottom: 14px;
  }

.manual__topcontrol_search {
  width: 202px;
  }

.manual__show-all {
  min-height: 26px;
  padding-left: 38px;
  position: relative;
  text-align: left;
  line-height: 26px;
  }

.manual__show-all > span {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  line-height: 1.3;
  position: relative;
  top: -1px;
  }

.manual__show-all::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background: url(assets/img/i50.png) 0 100% no-repeat at-2x;
  left: 0;
  top: 0;
  }


.manual__show-all.is-toggled::before {
  background-position: 100% 100%;
  }

.manual .manual__content-i {
  margin-bottom: 0;
  }
