
.price::before {
  margin-right: .15em;
  }

.price.usd::before {
  content: '$';
  }

.price.euro::before {
  content: '€';
  }

.price.rub::before {
  content: '';
  margin: 0;
  display: none;
  }

.price.rub::after {
  content: 'Р';
  margin-left: .4em;
  font-family: 'ALSRubl-Tahoma', Tahoma, sans-serif;
  line-height: normal;
  font-size: 96%;
  }

.price.rub:empty::after {
  margin-left: 0;
  }

.card__priceval .price {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  }
