.ritem {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 1.4;
  }

.ritem__pic {
  width: 35%;
  text-align: center;
  margin-right: 25px;
  line-height: 70px;
  min-height: 70px;
  max-width: 95px;
  }

.ritem__pic img {
  display: inline-block;
  vertical-align: middle;
  }

.ritem__name {
  font-weight: 100;
  color: #2d2d2d;
  margin-bottom: 9px;
  }

.ritem__price {
  font-size: 1.266666667rem;
  color: #000;
  }
