<div data-module="modal" data-modal="region" class="region-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button title="Закрыть" type="button" class="modal__close btn" data-dismiss="modal" aria-label="Close">
        Закрыть
      </button>

      <div class="modal-header clearfix">
        <div class="modal-header__hd">
          <h3 class="hd_0 noMrg">Выбор региона</h3>
        </div>
      </div>
      <form class="region-modal__form" action="#">
        <div class="row_wrap row">
          <div class="limited item_1 item">
            <div class="gap12">
              <h4 class="hd_1">Москва и область</h4>
              <ul class="list_0 list">
                <li>
                  <label class="celem_0  celem">
                    <input checked class="celem__input" name="reg" value="r0" type="radio">
                    <span class="celem__label">Москва</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r1" type="radio">
                    <span class="celem__label">Реутов</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r2" type="radio">
                    <span class="celem__label">Химки</span><span class="celem__box">
                     </span> </label>
                </li>
              </ul>
            </div>
            <div class="gap12">
              <h4 class="hd_1">Краснодарский край</h4>
              <ul class="list_0 list">
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r3" type="radio">
                    <span class="celem__label">Краснодар</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r4" type="radio">
                    <span class="celem__label">Кучугуры</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r5" type="radio">
                    <span class="celem__label">Анапа</span><span class="celem__box">
                     </span> </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="limited item_1 item">
            <div class="gap12">
              <h4 class="hd_1">Ставропольский край</h4>
              <ul class="list_0 list">
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r6" type="radio">
                    <span class="celem__label">Ессентуки</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r7" type="radio">
                    <span class="celem__label">Кисловодск</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r8" type="radio">
                    <span class="celem__label">Мин-Воды</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r9" type="radio">
                    <span class="celem__label">Пятигорск</span><span class="celem__box">
                     </span> </label>
                </li>
                <li>
                  <label class="celem_0  celem">
                    <input class="celem__input" name="reg" value="r10" type="radio">
                    <span class="celem__label">Зеленокумск</span><span class="celem__box">
                     </span> </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
