<div data-module="modal" data-modal="register" class="reg-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <button title="Закрыть" type="button" class="modal__close btn" data-dismiss="modal" aria-label="Close">
        Закрыть
      </button>

      <div class="modal-content__swap_initial modal-content__swap">
        <div class="modal-header clearfix">
          <div class="modal-header__hd">
            <h3 class="hd_0 noMrg">Заявка на регистрацию</h3>
          </div>
        </div>
        <div class="gap15 note_0 note">
          Зарегистрируйтесь и вы будите видеть все цены в каталоге товаров
        </div>
        <form class="reg-modal__form js-autoreset js-validate-form" action="#">
          <div class="gap18">
            <div class="gap12">
              <div class="gap3">
                <label for="nm1">ФИО</label>
              </div>
              <div class="input">
                <input name="nm1" id="nm1" type="text"/>
              </div>
            </div>
            <div class="gap12">
              <div class="gap3">
                <label for="ph1">Телефон</label>
              </div>
              <div class="input">
                <input required name="ph1" id="ph1" type="tel"/>
              </div>
            </div>
            <div class="gap12">
              <div class="gap3">
                <label for="ar1">Регион</label>
              </div>
              <div class="select_full select validate-field">
                <select required name="ar1" id="ar1" class="select__select">
                  <option class="is-label" disabled selected value="">Регион</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                  <option value="1">Московская область</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="button_block button">
            <span class="button__text">Зарегистрироваться</span>
          </button>
        </form>
      </div>
      <div class="modal-content__swap_sequential modal-content__swap">
        <div class="modal-header clearfix">
          <div class="modal-header__hd">
            <h3 class="branded-head hd_0 noMrg">Вы зарегистрировались</h3>
          </div>
        </div>
        <div class="note">
          Сейчас вы будете перемещены на страницу личного кабинета
        </div>
      </div>
    </div>
  </div>
</div>
<div data-module="modal" data-modal="recall" class="recall-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <button title="Закрыть" type="button" class="modal__close btn" data-dismiss="modal" aria-label="Close">
        Закрыть
      </button>

      <form data-module="recall-form" class="ajax-form js-autoreset js-validate-form" action="#">
        <div class="ajax-form__content ajax-form__content_1">
          <div class="modal-header clearfix">
            <div class="modal-header__hd">
              <h3 class="hd_0 noMrg">Напоминание пароля</h3>
            </div>
          </div>
          <div class="gap18">
            <div class="gap12">
              <div class="gap3">
                <label for="em2">E-mail</label>
              </div>
              <div class="gap3 input">
                <input required name="em2" id="em2" type="email"/>
              </div>
            </div>
          </div>
          <button type="submit" class="button_block button">
            <span class="button__text">Напомнить</span>
          </button>
        </div>
        <div class="ajax-form__content ajax-form__content_2">
          <div class="modal-header clearfix">
            <div class="modal-header__hd">
              <h3 class="branded-head hd_0 noMrg">Проверьте email</h3>
            </div>
          </div>
          <div class="note">
            Сейчас вы будете перемещены на страницу личного кабинета
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div data-module="modal" data-modal="login" class="log-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <button title="Закрыть" type="button" class="modal__close btn" data-dismiss="modal" aria-label="Close">
        Закрыть
      </button>

      <div class="modal-content__swap_initial modal-content__swap">
        <div class="modal-header clearfix">
          <div class="modal-header__hd">
            <h3 class="hd_0 noMrg">Вход в личный кабинет</h3>
          </div>
        </div>
        <form class="gap18 log-modal__form js-autoreset js-validate-form" action="#">
          <div class="gap18">
            <div class="gap12">
              <div class="gap3">
                <label for="em0">Ваш email</label>
              </div>
              <div class="input">
                <input required name="em0" id="em0" type="email"/>
              </div>
            </div>
            <div class="gap12">
              <div class="gap3">
                <div class="aligned-row">
                  <div class="item">
                    <label for="pas0">Пароль</label>
                  </div>
                  <div class="item">
                    <a data-modal-trigger="recall" data-dismiss="modal" class="modal__closer" href="#">Напомнить</a>
                  </div>
                </div>
              </div>
              <div class="input">
                <input required name="pas0" id="pas0" type="password"/>
              </div>
            </div>
          </div>
          <button type="submit" class="button_block button">
            <span class="button__text">Авторизоваться</span>
          </button>
        </form>
        <div class="modal__shifter block0">
          <div class="reg">
            <div class="gap4"><a data-modal-trigger="register" data-dismiss="modal" class="modal__closer" href="#">Зарегистрироваться</a></div>
            и увидеть все цены, став партнером Trade Lock
          </div>
        </div>
      </div>
      <div class="modal-content__swap_sequential modal-content__swap">
        <div class="modal-header clearfix">
          <div class="modal-header__hd">
            <h3 class="branded-head hd_0 noMrg">Вы авторизовались</h3>
          </div>
        </div>
        <div class="note">
          Сейчас вы будете перемещены на страницу личного кабинета
        </div>
      </div>
    </div>
  </div>
</div>
